.data-section {
  width: 400px;
  margin: 0px auto;
}

/*Error Message*/

section.error-message {
  background-color: #BF3A2E;
  text-align: center;
  color: white;
  padding: 10px;
  margin: 30px;
}
