div.episode {
    padding: 5px;
    width: 300px;
    margin: 0px auto;
}

div.episode:nth-of-type(odd) {
    background: #e0e0e0;
}

div.episode > h3 {
    margin: 0px;
}

span.title, span.episode-number, span.season-number {
    display: inherit;
}

/*Badge Styling*/

section.badges {
    display: inline-flex;
}

.average-rating {
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.number-votes {
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

span.badge-votes, span.badge-rating {
    padding: 1px;
    background-color: white;
    color: black;
}

.average-rating, .number-votes {
    /* height: 50px; */
    margin: 0px 20px;
    width: 100px;
    padding: 5px;
}

span.badge-votes, span.badge-rating {
    margin-left: 5px;
    border-radius: 3px 7px;
}

.average-rating:hover, .number-votes:hover {
    box-shadow: -4px 2px grey;
}

.badge-text {
    text-align: center;
}